.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/bg.png') no-repeat;
    background-size: 100% 100%;
    &_block {
        width: 30vw;
        background: rgba(255,255,255, 0.3);
        border-radius: 10px;
        padding: 10px;
    }
}